<main>
    <div class="poster">
        <div class="main-content">
            <h2>Hi, I am Rahul Sharma.</h2>
            <p>I am a web developer who loves creative coding and trying new tech</p>
            <br><br>
            <p>You can explore my other projects <a routerLink="js-projects">Here</a></p>
            <br><br>
            <p>I am currently available for freelance work if you want to hire me, you can mail me <a href="">@Rahul</a> <br> or check out my other socials <a routerLink = "contect-me">Here</a> </p>
        </div>
    </div>

    
</main>

